@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(100% 0 0);
    --foreground: oklch(12.9% 0.042 264.695);
    --card: oklch(100% 0 0);
    --card-foreground: oklch(12.9% 0.042 264.695);
    --popover: oklch(100% 0 0);
    --popover-foreground: oklch(12.9% 0.042 264.695);
    --primary: oklch(20.8% 0.042 265.755);
    --primary-foreground: oklch(98.4% 0.003 247.858);
    --secondary: oklch(96.8% 0.007 247.896);
    --secondary-foreground: oklch(20.8% 0.042 265.755);
    --muted: oklch(96.8% 0.007 247.896);
    --muted-foreground: oklch(55.4% 0.046 257.417);
    --accent: oklch(96.8% 0.007 247.896);
    --accent-foreground: oklch(20.8% 0.042 265.755);
    --destructive: oklch(57.7% 0.245 27.325);
    --destructive-foreground: oklch(98.5% 0 0);
    --border: oklch(92.9% 0.013 255.508);
    --input: oklch(92.9% 0.013 255.508);
    --ring: oklch(70.4% 0.042 56.788);
  }
  .dark {
    --background: oklch(12.9% 0.042 264.695);
    --foreground: oklch(98.4% 0.003 247.858);
    --card: oklch(20.8% 0.042 265.755);
    --card-foreground: oklch(98.4% 0.003 247.858);
    --popover: oklch(20.8% 0.042 265.755);
    --popover-foreground: oklch(98.4% 0.003 247.858);
    --primary: oklch(92.9% 0.013 255.508);
    --primary-foreground: oklch(20.8% 0.042 265.755);
    --secondary: oklch(27.9% 0.041 260.031);
    --secondary-foreground: oklch(98.4% 0.003 247.858);
    --muted: oklch(27.9% 0.041 260.031);
    --muted-foreground: oklch(70.4% 0.042 56.788);
    --accent: oklch(27.9% 0.041 260.031);
    --accent-foreground: oklch(98.4% 0.003 247.858);
    --destructive: oklch(70.4% 0.191 22.216);
    --destructive-foreground: oklch(98.5% 0 0);
    --border: oklch(100% 0 0 / 10%);
    --input: oklch(100% 0 0 / 15%);
    --ring: oklch(55.1% 0.027 264.364);
  }
}
